/* SIDE BAR MENU */

#asideNavMenu{
    left:40px;
    z-index:4;
}

#asideNavMenu ul{
    color:white;
    list-style:none;
    margin:0;
    padding:0;
    position:relative;
}

#asideNavMenu a{
    color:white;
    display:block;
    font-size:15px;
    max-width:300px;
    overflow: hidden;
    padding:8px 0;
    text-decoration:none;
    text-overflow:ellipsis;
    transition:all 0.2s ease 0s;
    -webkit-transition:all 0.2s ease 0s; /* Chrome, Safari, Opera */
    white-space:nowrap;
}

#asideNavMenu a:hover, #asideNavMenu a.hover{
    /* font-weight:bolder; */
    color:#7e7e7e;
}

#asideNavMenu .caption{
    border-bottom:2px solid #00a3fa;
    color:white;
    font-size:20px;
    margin-bottom:8px;
    padding-bottom:8px;
    text-transform:uppercase;
    display:inline-block;
}
.nav-menu-item-pic-container {
    position:relative;

    display:block;
}

.nav-menu-item-pic {
    position:absolute;
    top:0;
    left:0;
    width:100%;
	background-position:50% 0;
	background-repeat:no-repeat;

    cursor:pointer;
}
/* TOP NAV MENU */

#topNavMenu.absolute{
    position:absolute;
    width:100%;
    z-index:3;
}
#topNavMenu ul{
    display:inline-block;
    list-style:none;
    margin:0;
    padding:0;
}
#topNavMenu li{
    position:relative;
    display:block;

    width:170px;
}
#topNavMenu li .caption{
    margin:10px 0;
    text-decoration:none;
    padding:12px 42px;
    text-transform:uppercase;
    font-weight:bold;
    font-size:12px;
    color:white;
    display:block;
}
#topNavMenu li:not(:last-child) .caption{
    border-right:1px solid white;
}

#topNavMenu .caption:hover, #topNavMenu .caption.smooth{
    transition:all 0.3s ease 0s;
    -webkit-transition:all 0.3s ease 0s; /* Chrome, Safari, Opera */
}

#topNavMenu .caption:hover, #topNavMenu .caption.active{
    background:rgba(0, 0, 0, 0.5);
}
/** COMMON MODAL WINDOW STYLES **/
#modal{
    position:fixed;

    overflow:hidden;
    z-index:1000;

    font-family:Kalinga;
}

#modal > .overlay{
    background:rgba(0,0,0,0.7);

    z-index:1001;
}

#modal.hidden, #modal .window.hidden{
    display:none;
}

#modal .window > .content{
    position:relative;
    z-index:1002;

    width:500px;
}

#modal .window > .controls{
    position:absolute;

    top:0;
    height:100%;

    width:50%;

    transition:all 0.2s ease 0s;
    -webkit-transition:all 0.2s ease 0s; /* Chrome, Safari, Opera */

    background:transparent;
    border:none;
    outline:none;

    cursor:pointer;

    opacity:0.15;

    z-index:1003;
}

#modal .window > .controls[disabled]{
    opacity:0.15 !important;
}

#modal .window > .controls .fa{
    position:absolute;

    top:50%;
    margin-top:-30px;

    color:white;
    font-size:60px;
    text-shadow:0 0 4px rgb(0,0,0);

    display:block;
}

#modal .window > .controls.prev{
    left:0;
}

#modal .window > .controls.prev > .fa{
    left:13px;
}

#modal .window > .controls.next{
    right:0;
}

#modal .window > .controls.next > .fa{
    right:13px;
}

#modal .window > .controls:hover{
    opacity:1;
}

#modal .window > .source, #modal .window > .close{
    position:absolute;
    bottom:5px;

    padding:5px;

    opacity:0.3;
    text-decoration:none;

    transition:all 0.2s ease 0s;
    -webkit-transition:all 0.2s ease 0s; /* Chrome, Safari, Opera */

    z-index:1004;
}

#modal .window > .close{
    left:calc(50% + 3px);
}

#modal .window > .source{
    left:calc(50% - 33px);
}

#modal .window > .source .fa, #modal .window > .close .fa{
    background:rgba(0, 0, 0, 0.4);

    color:white;
    font-size:15px;
    padding:7px 9px 8px 9px;
    display:block;
}

#modal .window > .source:hover, #modal .window > .close:hover{
    opacity:1;
}

/** PREVIEW MODAL WINDOW STYLES **/

#modal .window > .content img{
    max-width:100%;
    max-height:100%;

    vertical-align:middle;
}
.pagination{
    position:absolute;
    top:auto;
    right:0;

    margin-top:10px;
}

.pagination .loader{
    color:white;

    font-size:12px;
    line-height:28px;

    margin-right:8px;
}

.pagination .loader.hidden{
    display:none;
}

.pagination ul{
    list-style:none;

    padding:0;
    margin:0;
}

.pagination ul li{
    float:left;
}

.pagination ul li.hidden{
    display:none;
}

.pagination ul li > a{
    border-right:1px solid white;
}

.pagination ul li.last > a, .pagination ul li:last-child > a{
    border-right:none;
}

.pagination ul li a{
    color:white;

    font-size:12px;
    font-weight:bold;

    padding:5px 10px 3px;

    text-decoration:none;
}

.pagination ul li:hover a, .pagination ul li.active a{
    background:rgba(0, 0, 0, 0.5);

    transition:all 0.3s ease 0s;
    -webkit-transition:all 0.3s ease 0s; /* Chrome, Safari, Opera */
}
#art{
    z-index:2;
}

/* ART MEDIUM PREVIEW */

.art-medium{
    position:relative;
}

.art-medium-preview > .thumb{
    position:relative;

    min-width:200px;
    min-height:140px;

    max-width:300px;
    max-height:210px;

    float:left;

    z-index:3;
}

.art-medium-preview > .thumb:nth-child(3n+1){
    clear:both;
}

.art-medium-preview > .thumb > .image{
    position:absolute;

    width:100%;
    height:0;

    overflow:hidden;

    z-index:2;
}

.art-medium-preview > .thumb > .image.animated{
    height:100%;

    -webkit-transition:all 0.2s ease 0s; /* Chrome, Safari, Opera */
    transition:all 0.2s ease 0s;
}

.art-medium-preview > .thumb > .image > img{
    width:100%;
}

.art-medium-preview > .thumb:hover, .art-medium-preview > .thumb.hover{
    z-index:4;
}

.art-medium-preview > .thumb:hover > .image.animated, .art-medium-preview > .thumb.hover > .image.animated{
    -ms-transform:scale(1.1); /* IE */
    -webkit-transform:scale(1.1); /* Opera, Chrome, and Safari */
    transform:scale(1.1);

    outline:2px solid white;

    z-index:4;
}
html{
    height:100%;
}

body{
    background:#3b3b3b;
    height:100%;

    font-family:Kalinga;

	margin:0;
}

#logo{
    display:block;

    position:absolute;
    top:40px;
    left:40px;

    width:150px;

    z-index:2;
}

#logo > img{
    width:inherit;
}

#substrate{
	position:absolute;
	top:0;
	left:0;

	width:100%;
    max-height:100%;

	background:-webkit-radial-gradient(50% 0, farthest-side, #7d7d7d, #3b3b3b); /* Chrome, and Safari */
	background:-moz-radial-gradient(50% 0, farthest-side, #666666, #3b3b3b); /* FireFox */
	background:-o-radial-gradient(50% 0, farthest-side, #666666, #3b3b3b); /* Opera */
    background-image:radial-gradient(farthest-side circle at 50% 0, #666666 0%, #3b3b3b 100%); /* IE */
	background:radial-gradient(50% 0, farthest-side, #666666, #3b3b3b);
	z-index:0;
}

#body{
	position:relative;
    height:100%;
	z-index:1;

    text-align:center;
}
.contacts{
    position:absolute;

    top:33px;
    right:35px;

    color:white;

    z-index:2;
}

.contacts__caption{
    text-align:right;
}

.contacts-caption{
    border:none;
    background:transparent;

    color:white;
    font-size:12px;

    cursor:pointer;
    padding:5px 8px;

    outline:none;

    text-transform:uppercase;
}

.contacts-caption i{
    font-size:13px;

    margin-left:10px;
}

.contacts-list{
    background:#585858;

    margin:0;
    padding:0 5px;
}

.contacts-list.hidden{
    display:none;
}

.contacts-list__contact{
    list-style:none;

    padding:8px 0;

    font-size:10px;
}

.contacts-list__contact:nth-child(2n+1){
    border-bottom:2px solid #424242;
}
.float-left{
    float:left;
}

.float-right{
    float:right;
}

.float-clear{
    clear:both;
}

.button{
    cursor:pointer;
}

.centric{
    margin:0 auto;
}

.vertical-align{
    display:table;
}

.vertical-align > .center{
    display:table-cell;
    vertical-align:middle;
}

.absolute-size{
    position:absolute;
    top:0;
    left:0;

    height:100%;
    width:100%;
}

.absolute-height{
    position:absolute;
    top:0;

    height:100%;
    width:auto;
}

.inline{
    display:inline-block;
}

.block{
    display:block;
}

.none{
    display:none;
}

.align-top{
    vertical-align:top;
}

.align-middle{
    vertical-align:middle;
}

.align-bottom{
    vertical-align:middle;
}

.align-left{
    text-align:left;
}

.align-center{
    text-align:center;
}

.align-right{
    text-align:right;
}

.clearfix::after{
    content:".";
    clear:both;
    display:block;
    height:0;
    visibility:hidden;
}