RewriteEngine on

# php5_value post_max_size 100M
# php5_value upload_max_filesize 100M
# php5_value memory_limit 300M
# php5_value max_execution_time 259200

# If directory or file exists - use it direct path
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
# Else run php script
RewriteRule . index.php
