ul.breadcrumbs{
    position:relative;

    padding:0;
    margin:0;

    list-style:none;
}

ul.breadcrumbs li{
    float:left;

    padding:5px;
    font-size:26px;
}

ul.breadcrumbs:after{
    content:'.';
    display:block;
    height:0;
    clear:both;

    visibility:hidden;
}

table.content{
    border:1px solid black;
    border-collapse:collapse;

    width:100%;
}

table.content td, table.content th{
    border:1px solid black;
}

.editable-title, .editable-description{
    cursor:pointer;
}