/** COMMON MODAL WINDOW STYLES **/
#modal{
    position:fixed;

    overflow:hidden;
    z-index:1000;

    font-family:Kalinga;
}

#modal > .overlay{
    background:rgba(0,0,0,0.7);

    z-index:1001;
}

#modal.hidden, #modal .window.hidden{
    display:none;
}

#modal .window > .content{
    position:relative;
    z-index:1002;

    width:500px;
}

#modal .window > .controls{
    position:absolute;

    top:0;
    height:100%;

    width:50%;

    transition:all 0.2s ease 0s;
    -webkit-transition:all 0.2s ease 0s; /* Chrome, Safari, Opera */

    background:transparent;
    border:none;
    outline:none;

    cursor:pointer;

    opacity:0.15;

    z-index:1003;
}

#modal .window > .controls[disabled]{
    opacity:0.15 !important;
}

#modal .window > .controls .fa{
    position:absolute;

    top:50%;
    margin-top:-30px;

    color:white;
    font-size:60px;
    text-shadow:0 0 4px rgb(0,0,0);

    display:block;
}

#modal .window > .controls.prev{
    left:0;
}

#modal .window > .controls.prev > .fa{
    left:13px;
}

#modal .window > .controls.next{
    right:0;
}

#modal .window > .controls.next > .fa{
    right:13px;
}

#modal .window > .controls:hover{
    opacity:1;
}

#modal .window > .source, #modal .window > .close{
    position:absolute;
    top:5px;

    padding:5px;

    opacity:0.3;
    text-decoration:none;

    transition:all 0.2s ease 0s;
    -webkit-transition:all 0.2s ease 0s; /* Chrome, Safari, Opera */

    z-index:1004;
}

#modal .window > .close{
    right:5px;
}

#modal .window > .source{
    right:43px;
}

#modal .window > .source .fa, #modal .window > .close .fa{
    background:rgba(0, 0, 0, 0.4);

    color:white;
    font-size:15px;
    padding:7px 9px 8px 9px;
    display:block;
}

#modal .window > .source:hover, #modal .window > .close:hover{
    opacity:1;
}

/** PREVIEW MODAL WINDOW STYLES **/

#modal .window > .content img{
    max-width:100%;
    max-height:100%;

    vertical-align:middle;
}