.pagination{
    position:absolute;
    top:auto;
    right:0;

    margin-top:10px;
}

.pagination .loader{
    color:white;

    font-size:12px;
    line-height:28px;

    margin-right:8px;
}

.pagination .loader.hidden{
    display:none;
}

.pagination ul{
    list-style:none;

    padding:0;
    margin:0;
}

.pagination ul li{
    float:left;
}

.pagination ul li.hidden{
    display:none;
}

.pagination ul li > a{
    border-right:1px solid white;
}

.pagination ul li.last > a, .pagination ul li:last-child > a{
    border-right:none;
}

.pagination ul li a{
    color:white;

    font-size:12px;
    font-weight:bold;

    padding:5px 10px 3px;

    text-decoration:none;
}

.pagination ul li:hover a, .pagination ul li.active a{
    background:rgba(0, 0, 0, 0.5);

    transition:all 0.3s ease 0s;
    -webkit-transition:all 0.3s ease 0s; /* Chrome, Safari, Opera */
}