#art{
    z-index:2;
}

/* ART MEDIUM PREVIEW */

.art-medium{
    position:relative;
}

.art-medium-preview > .thumb{
    position:relative;

    min-width:200px;
    min-height:140px;

    max-width:300px;
    max-height:210px;

    float:left;

    z-index:3;
}

.art-medium-preview > .thumb:nth-child(3n+1){
    clear:both;
}

.art-medium-preview > .thumb > .image{
    position:absolute;

    width:100%;
    height:0;

    overflow:hidden;

    z-index:2;
}

.art-medium-preview > .thumb > .image.animated{
    height:100%;

    -webkit-transition:all 0.2s ease 0s; /* Chrome, Safari, Opera */
    transition:all 0.2s ease 0s;
}

.art-medium-preview > .thumb > .image > img{
    width:100%;
}

.art-medium-preview > .thumb:hover, .art-medium-preview > .thumb.hover{
    z-index:4;
}

.art-medium-preview > .thumb:hover > .image.animated, .art-medium-preview > .thumb.hover > .image.animated{
    -ms-transform:scale(1.1); /* IE */
    -webkit-transform:scale(1.1); /* Opera, Chrome, and Safari */
    transform:scale(1.1);

    outline:2px solid white;

    z-index:4;
}